#gameArea {
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}

#playerCorner {
    background-color: rgb(33, 226, 33);
}

#cpuCorner {
    background-color: rgb(189, 18, 18);

}

#containerArena {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    height: 600px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 10%;
    background-color: rgb(173, 210, 240);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

}

p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.button {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    font-size: 40px;
    height: 80px;
    margin-top: 20px;
    border: 2px solid rgb(0, 0, 0);
}
.button {
    width: 200px;
    margin-right: 20px;
    flex-grow: 1;
}
.button > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#buttonArea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#mainMenuButton {
    width: 200px;
    margin-right: 20px;
    height: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    font-size: 40px;
}

h3{
    display: flex;
    justify-content: right;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}

#menuArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 600px;
}

#mainMenuButton{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}